In [5]:
import pandas as pd
import numpy as np

file_to_load = "Resources/historical_cvs_data.csv"

historial_cvs_df = pd.read_csv(file_to_load)
historial_cvs_df.head()

         Date    Open    High     Low   Close  Volume  OpenInt
0  1984-12-17  2.5121  2.5297  2.4762  2.5121  207404        0
1  1984-12-18  2.5297  2.6102  2.5297  2.6102  219486        0
2  1984-12-19  2.5923  2.5923  2.5121  2.5475  436957        0
3  1984-12-20  2.5121  2.5475  2.5030  2.5297  185926        0
4  1984-12-21  2.5121  2.5121  2.3867  2.4227  161763        0